<% provide(:title, "Editing Account") %>

<div class="p-podcasts">


  <section class='o-pageContent p-podcasts__content'>
    <div class='o-pageContent__section p-podcasts-content__podcasts container'>

        <h2 class='boxed'>Edit <%= current_user.name.upcase %></h2>
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
        <%= devise_error_messages! %>
        <%= content_tag :div, class: "row" do %>
        <%= content_tag :div, class: 'six columns' do %>
        <%= f.input :name, autofocus: true, label: false, placeholder: 'Name' %>
        <% end %>
        <%= content_tag :div, class: 'six columns' do %>
        <%= f.input :email, label: false, placeholder: 'Email' %>
        <% end %>
        <% end %>
        <%= content_tag :div, class: "row" do %>
        <% "Currently waiting confirmation for: #{resource.unconfirmed_email} " if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <% end %>
        <%= content_tag :div, class: "row" do %>
        <div class='twelve columns'>
          <p>Leave these fields blank if you don't want to change your password.</p>
        </div>
        <% end %>
        <%= content_tag :div, class: "row" do %>
        <%= content_tag :div, class: 'six columns' do %>
        <%= f.input :password, :autocomplete => 'off', label: false, placeholder: 'Password' %>
        <% end %>
        <%= content_tag :div, class: 'six columns' do %>
        <%= f.input :password_confirmation, label: false, placeholder: 'Confirm Password' %>
        <% end %>
      <% end %>
      <p>You must enter your current password to make changes.</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    <%= f.submit 'Update', class: 'button' %>
    <%= content_tag(:button, link_to('Logout', destroy_user_session_path, :method=>'delete')) if user_signed_in? %>

    <% end %>
  </div>
</section>
</div>
