<%  if can?(:manage, ConnectGroup)%>
<%= content_tag :div, class: 'row dashboard' do %>
<i class='fa fa-3x fa-cogs'></i><span>Connect Groups</span>
<ul>
  <li><%= link_to(content_tag(:i, " New", class: 'fa fa-plus'), new_connect_group_path) %></li>
   <li class='pending'><%= content_tag(:i, " #{ConnectGroup.approval_pending('Revelstoke')} Pending Approval", class: 'fa fa-check-square-o') %>
</li>
<%= render 'connect_groups/not_approved_list' %>
  <li><%= link_to(content_tag(:i, " List", class: 'fa fa-list'), connect_groups_path) %></li>
</ul>
<% end end %>
