<% provide(:title, "Users") %>

<div class="p-users">


  <section class='o-pageContent p-users__content'>
    <div class='o-pageContent__section p-users-content__users container'>

      <h2 class='boxed'>Users</h2>

      <% @users.each do |user| %>
      <% unless user == current_user %>
      <div class='row'>
        <%= content_tag( :div, link_to(user.name, user), class: 'three columns') %>
        <%= content_tag( :div, user.email, class: 'three columns' ) %>
        <%= content_tag( :div, user.created_at.to_date, class: 'two columns' ) %>
        <%= content_tag( :div, user.roles.first.name.titleize, class: 'three columns' ) unless user.roles.first.nil? %>
        <%= content_tag :div, class: 'one columns admin' do %>
        <%= link_to( content_tag(:i, '', class: 'fa fa-pencil'), edit_user_path(user)) unless current_user == user%>
        <%= link_to( content_tag(:i, '',class: 'fa fa-trash'), user, method: :delete, data: { confirm: 'Are you sure?' }) unless current_user == user %>
        <% end %>
      </div>
      <% end %>
      <% end %>
    </div>
  </section>
</div>
