<% provide(:title, "Media") %>

<div class="p-media">
  <header class='o-pageHeader p-media__header'>
    <div class='o-pageHeader__overlay'></div>
    <h1>Media</h1>
  </header>


  <section class='o-pageContent p-media__content'>

    <div class='o-pageContent__section p-media-content container'>
      <div class='0-pageContent__section p-media-content__podcasts container'>
        <h2 class='boxed'>Podcasts</h2>
        <% @podcasts.each_slice(3).each do |row| %>
        <div class='row'>
          <% row.each do |podcast| %>
          <% if podcast %>
          <div class='four columns'>
            <%= content_tag( :h5, podcast.author + " - " + podcast.title, class: 'title') %>
            <div class='meta center'>
              <%= content_tag :span, podcast.dateof.strftime("%B %e, %Y"), class: "date" if podcast.dateof %>
              <%= content_tag :span, podcast.dateof.strftime("%l:%M %P"), class: "time" if podcast.dateof %>
            </div>
            <%= content_tag( :p, podcast.description, class: 'description' ) %>
            <%= content_tag( :div, audio_tag(podcast.podcast_file_path, controls: true), class: 'audio') %>
            <% end %>
            <div class='admin'>
            <% if user_signed_in? && can?(:manage, podcast) %>
              <%= link_to content_tag(:span, 'edit', class: 'edit'), edit_podcast_path(podcast) %>
              <%= link_to content_tag(:span, 'delete', class: 'delete'), podcast, method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to content_tag(:span, 'new', class: 'new'), new_podcast_path %>
              <% end %>
            </div>

          </div>
          <% end %>
        </div>
        <% end %>
      </div>

    </div>
  </section>

</div>
