<% provide(:title, "New?") %>

<div class="p-new">
  <header class='o-pageHeader p-new__header'>
    <div class='o-pageHeader__overlay'></div>
    <h1>New Here</h1>
  </header>


  <section class='o-pageContent p-new__content'>

    <div class='o-pageContent__section p-new-content__visit container'>
      <div class='row'>
        <div class='ten columns offset-by-one'>
          <h2 class='boxed'>Plan A Visit</h2>
          <p>At C3 Church, you'll be welcomed into a friendly, casual environment by people who are excited to see you. In fact we've been thinking about you before you arrive. We want you to have an idea of what to expect when you arrive at C3 Church, so all you have to do from here is come as you are and find out more for yourself!</p>
        </div>
      </div>
    </div>
    <div class='o-pageContent__section p-new-content__pastors container'>
        <div class='row'>
          <div class='ten columns offset-by-one'>
            <h2 class='boxed boxed--white'>Lead Pastors</h2>
          <p>Dave & Kim Olson</p>
          <%= link_to content_tag(:button, 'Meet Them'), pastors_path %>
          <div class='p-new-content_overlay'></div>
          </div>
      </div>
    </div>

    <div class='o-pageContent__section p-new-content__locations container'>
      <div class='row'>
        <% @listings.each do |location| %>
        <div class='six columns center'>
          <h3 class='boxed'><%= location.name %></h3>
          <p>
            <address><%= location.address %>,<br>
                     <%= location.city%>, <%= location.province %></address>
            <a class='phone' tabIndex="-1" href="tel:<%=location.phone%>"><%= location.phone %></a>
            <br>
            <strong>Sundays</strong> &mdash; <%= location.times %><br>
          </p>
        </div>
        <% end %>
      </div>
    </div>


    <div class='o-splitImage o-splitImage--contentInside p-new-content__expect'>
      <div class='o-splitImage__one  p-new-content-expect__img1'>
        <div class='splitImage-image__content'>
          <h2 class='boxed'>What to Expect</h2>
          <p>Whoever you are, you belong here.</p>
          <%= link_to content_tag(:button, 'find out more'), expect_path %>
        </div>

        <div class="splitImage-image__overlay"></div>
      </div>

      <div class='o-splitImage__two p-new-content-expect__img2'>
        <div class='splitImage-image__content'>
          <h2 class='boxed'>What We Believe</h2>
          <p>C3 Church exists for one reason:</br><strong>So You Become You!</strong></p>
          <%= link_to content_tag(:button, 'find out more'), believe_path %>
        </div>

        <div class="splitImage-image__overlay"></div>
      </div>
    </div>
  </section>
</div>
