<% provide(:title, "Next Steps") %>

<div class="p-nextsteps">
	<header class='o-pageHeader p-nextsteps__header'>
	</header>


	<section class='o-pageContent p-nextsteps__content'>
		<div class='o-pageContent__section p-nextsteps-content__nextsteps container'>
			<div class='row'>
				<div class='ten columns offset-by-one'>
							<h2 class='boxed'>Next Steps</h2>
					<p>When you walk in the doors of C3, we understand that you might have questions about faith, God, and what we believe. NEXT STEPS is designed to answer some of these questions. This course is your first step to becoming an integral part of C3 Church. You will be equipped and empowered to set a solid foundation for your future at C3, learning about yourself, teams and <%= link_to("connect groups.", connect_groups_path) %></p>
					<p>Next Steps runs the first four sundays of every month and you can jump in anytime.</p>
				</div>
			</div>
		</div>
		<div class='o-pageContent__section p-nextsteps-content__classes container'>
			<div class='row'>
				<div class=' six columns'>
					<section class='p-nextsteps-content__dna'>
						<h2>DNA 101</h2>
						<p>This class is a basic introduction to C3 Church, our story, statements, strategy and structure. DNA 101 runs on the first sunday of every month and lunch is provided.</p>
						<h3>The next class is <%= @dates[0].to_s(:nextsteps) %></h3>
					</section>
				</div>

				<div class=' six columns'>
					<section class='p-nextsteps-content__essentials'>
						<h2>Essentials 201</h2>
						<p>This class will help guide you through the essential beliefs that every follower of Christ needs to become who they were born to be. Essentials 201 runs on the second sunday of every month</p>
						<h3>The next class is <%= @dates[1].to_s(:nextsteps) %></h3>
					</section>
				</div>
			</div>

			<div class='row'>
				<div class=' six columns'>
					<section class='p-nextsteps-content__discovery'>
						<h2>Discovery 301</h2>
						<p>We want to help you become You. This class will help you discover your personality, gifts, and purpose in life, and see how God combines them for the best fit in ministry. Discovery 301 runs the third sunday of every month</p>
						<h3>The next class is <%= @dates[2].to_s(:nextsteps) %></h3>
					</section>
				</div>

				<div class=' six columns'>
					<section class='p-nextsteps-content__team'>
						<h2>Team 401</h2>
						<p>At Team 401, you will have an opportunity to meet team leaders from different areas, ask your questions and find your place in ministry here at C3 Church. Team 401 runs the fourth sunday of every month</p>
						<h3>The next class is <%= @dates[3].to_s(:nextsteps) %></h3>
					</section>
				</div>
			</div>
			</div>
		<div class='o-pageContent__section p-nextsteps-content__locations container'>

			<h2 class='boxed'>Locations and Times</h2>
				<div class="row">
					<div class="six columns">
						<h2>Kelowna: Sundays @11:30am</h2>
					</div>
					<div class="six columns">
						<h2>Revelstoke: Sundays @11:45am</h2>
					</div>
				</div>

		</section>
</div>
