<%= simple_form_for(@event) do |f| %>
<%= f.error_notification %>
<div class='row'>
  <div class='four columns'>
    <%= f.input :title, label: false, placeholder: 'Event Title' %>
  </div>
  <div class='four columns'>
    <%= f.input :starttime, as: :datetimepicker, label: false, placeholder: 'Start Time' %>
  </div>
  <div class='four columns'>
    <%= image_tag @event.image.url('thumb'), width: '100' %>
  </div>
</div>
<div class='row'>
  <div class='four columns'>
    <%= f.input :description, label: false, placeholder: 'Description' %>
  </div>
  <div class='four columns'>
    <%= f.input :endtime, as: :datetimepicker, label: false, placeholder: 'End Time' %>
  </div>
  <div class='four columns'>
    <%= f.input :image, label: false %>
  </div>
</div>
<div class='row'>
  <div class='four columns'>
    <%= f.input :hash_tag, label: false, placeholder: '#hashtag' %>
  </div>
  <div class='four columns'>
    <%= f.input :featured, label: 'Featured?', as: :radio_buttons, checked: false %>
  </div>
  <div class='four columns'>
    <%= f.association :location, label: false, as: :radio_buttons %>
  </div>
</div>
<div class='row'>
  <div class='four columns'>
    <%= f.input :facebook, label: false, placeholder: 'Facebook Event URL' %>
  </div>
  <div class='four columns'>
    <%= f.association :event_type, as: :radio_buttons, label: false, checked: 1 %>
  </div>
  <div class='four columns'>
    <%= f.input :repeat, id: 'repeat', label: 'Repeating Event?' %>
  </div>
</div>
<%= content_tag(:div, (f.input :frequency, collection: ['Daily', 'Weekly', 'Monthly'], as: :radio_buttons), class: 'frequency') %>
<%= content_tag(:div, (f.input :repeat_date, label: 'Same Date Every Month?'), class: 'recurring repeat_date') %>
<%= content_tag(:div, (f.input :repeat_day, collection: [['Sunday', 0],  ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6]], as: :radio_buttons), class: 'recurring repeat_day') %>
<%= content_tag(:div, (f.input :repeat_week, collection: [['First Week',1], ['Second Week',2], ['Third Week',3], ['Fourth Week',4]], as: :radio_buttons), class: 'recurring repeat_week') %>
<%= content_tag(:div, (f.input :limit, label: 'How many times'), class: 'recurring limit') %>


<%= content_tag :div, class: "form-actions" do %>
<%= f.button :submit, data: {disable_with: "Uploading..."} %>
<% end %>
<% end %>
