<% provide(:title, "Events") %>

<div class="p-events">


  <section class='o-pageContent p-events__content'>
    <div class='o-pageContent__section p-events-content__events container'>

      <h2 class='boxed'>Events</h2>

      <% @events.each do |event| %>
      <div class='row'>
        <% if event %>
        <%= content_tag :div, image_tag(event.image.url(:thumb), width: '150'), class: "two columns" if event.image %>
        <%= content_tag( :div, event.title, class: 'two columns' ) %>
        <%= content_tag( :div, event.facebook, class: 'two columns' ) %>
        <%= content_tag( :div, event.description, class: 'two columns' ) %>
        <%= content_tag( :div, event.starttime, class: 'one column' ) %>
        <%= event.location.nil? ? content_tag(:div, "Deleted Location", class: 'two columns') : content_tag( :div, event.location.name, class: 'two columns' ) %>
        <%= content_tag :div, class: 'one column admin' do %>
        <%= link_to( content_tag(:i, '', class: 'fa fa-pencil'), edit_event_path(event)) %>
        <%= link_to( content_tag(:i, '',class: 'fa fa-trash'), event, method: :delete, data: { confirm: 'Are you sure?' }) %>
      </div>
      <% end end end %>
      <%= link_to(content_tag(:i, ' Back', class: 'fa fa-hand-o-left'), :back, class: 'button') %>
      <%= link_to(content_tag(:i, 'New Event', class: 'fa fa-plus'), new_event_path, class: 'button') %>
    </div>
  </section>


</div>
</section>
</div>
