<p>
  <strong>Name:</strong>
  <%= @connect_group.name %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @connect_group.leader %>
</p>

<p>
  <strong>Location:</strong>
  <%= @connect_group.location %>
</p>

<p>
  <strong>Time:</strong>
  <%= @connect_group.time %>
</p>

<p>
  <strong>Day:</strong>
  <%= @connect_group.day %>
</p>


<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?size=350x350&zoom=14&sensor=false&markers=#{@connect_group.latitude}%2C#{@connect_group.longitude}" %>

<%= link_to 'Edit', edit_connect_group_path(@connect_group) %> |
<%= link_to 'Back', connect_groups_path %>
