<div class='row'>
<div id='podcastForm' class='four columns'>
  
  <%= simple_form_for(@podcast) do |f| %>
  <%= f.error_notification %>
    <div class='podcast_file'>
      <%= f.input :file, as: :hidden, input_html: {id: "hidden-value", value: @podcast.cached_file_data} %>
      <%= f.input :file, as: :file, label: false, input_html: {id: "fileupload"} %>
    </div>
      <%= f.input :author, label: "Speaker's Name", required: false, input_html: {class: 'podcast'} %>
      <%= f.input :title, label: "Message Title", required: false, input_html: {class: 'podcast'} %>
      <%= f.input :dateof, as: :datetimepicker, required: false, label: "Date and Time of Message", input_html: {class: 'podcast'} %>
      <%= f.input :description, label: "Message Summary", input_html: {class: 'podcast'} %>
      <%= f.association :location, required: false, label: "Location", input_html: {class: 'podcast'}, as: :radio_buttons %>
  <%= f.button :submit, class: 'podcast', id: 'podcastUpload' %>
  <% end %>
</div>
</div>
