<% provide(:title, "Podcasts") %>

<div class="p-podcasts">


  <section class='o-pageContent p-podcasts__content'>
    <div class='o-pageContent__section p-podcasts-content__podcasts container'>

      <h2 class='boxed'>Podcasts</h2>

      <br>
      <%= link_to(content_tag(:i, ' Back', class: 'fa fa-hand-o-left'), :back, class: 'button') %>
      <%= link_to(content_tag(:i, 'New Podcast', class: 'fa fa-plus'), new_podcast_path, class: 'button') %>
      <br>

      <% @podcasts.each do |podcast| %>
      <div class='row'>
        <%= content_tag( :div, link_to(podcast.title, podcast), class: 'three columns') %>
        <%= content_tag( :div, podcast.description, class: 'three columns' ) %>
        <%= content_tag( :div, podcast.author, class: 'two columns' ) %>
        <%= content_tag( :div, podcast.dateof.strftime("%b %e, %Y %l:%M %P"), class: 'three columns' ) %>
        <%= content_tag :div, class: 'one columns admin' do %>
        <%= link_to( content_tag(:i, '', class: 'fa fa-pencil'), edit_podcast_path(podcast)) %>
        <%= link_to( content_tag(:i, '',class: 'fa fa-trash'), podcast, method: :delete, data: { confirm: 'Are you sure?' }) %>
        <% end %>
      </div>
      <% end %>

      <%= link_to(content_tag(:i, ' Back', class: 'fa fa-hand-o-left'), :back, class: 'button') %>
      <%= link_to(content_tag(:i, 'New Podcast', class: 'fa fa-plus'), new_podcast_path, class: 'button') %>

    </div>
  </section>
</div>
