<% provide(:title, @podcast.title) %>

<div class="p-podcasts">


  <section class='o-pageContent p-podcasts__content'>
    <div class='o-pageContent__section p-podcasts-content__podcasts container'>


      <div class='row'>
        <%= content_tag :div, class: 'three columns' do %>
        <%=  @podcast.title %>
      </br>
      <%= audio_tag(@podcast.podcast_file_path, controls: true) %>
      <% end %>
      <%= content_tag( :div, @podcast.description, class: 'three columns' ) %>
      <%= content_tag( :div, @podcast.author, class: 'two columns' ) %>
      <%= content_tag( :div, @podcast.dateof.strftime("%b %e, %Y %l:%M %P"), class: 'three columns' ) %>
      <%= content_tag :div, class: 'one columns admin' do %>
      <%= link_to( content_tag(:i, '', class: 'fa fa-2x fa-pencil'), edit_podcast_path(@podcast)) %>
      <%= link_to( content_tag(:i, '',class: 'fa fa-2x fa-trash'), @podcast, method: :delete, data: { confirm: 'Are you sure?' }) %>
      <% end %>
    </div>


    <%= link_to 'New Podcast', new_podcast_path %>
<%= link_to 'Back', podcasts_path %>

  </div>
</section>
</div>
