<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= image_tag @location.photo.url('thumb'), width: '100' %>
    <%= f.input :photo, as: :file %>
    <%= image_tag @location.logo.url('thumb'), width: '100' %>
    <%= f.input :logo, as: :file %>
    <%= image_tag @location.inline_logo.url('thumb'), width: '100' %>
    <%= f.input :inline_logo, as: :file %>
    <%= image_tag @location.pastor_photo.url('thumb'), width: '100' %>
    <%= f.input :pastor_photo, as: :file %>
    <%= image_tag @location.pastor_signature.url('thumb'), width: '100' %>
    <%= f.input :pastor_signature, as: :file %>
    <%= f.input :pastor_name %>
    <%= f.input :day %>
    <%= f.input :times %>
    <%= f.input :welcome %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :province %>
    <%= f.input :code %>
    <%= f.input :phone %>
    <%= f.input :facebook %>
    <%= f.input :twitter %>
    <%= f.input :instagram %>
    <%= f.input :show_in_listing %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
