<%# add navigation links to this file %>
<section class='top-bar-section right' id='menu'>
	<ul>
		<li><%= link_to 'New?', new_path %>
			<ul>
				<li><%= link_to "Times & Locations", new_path+'#what-to-expect'%></li>
				<li><%= link_to 'Dave & Kim', '#dave-kim' %></li>
				<li><%= link_to 'FAQ', '#' %></li>
				<li><%= link_to 'Connect Card', connect_path %></li>
				<li><%= link_to 'Kids', '#' %></li>
			</ul>
		</li>
		<li><%= link_to 'Next Steps', nextstep_path %>
			<ul>
				<li><%= link_to 'Connect Cards', connect_path %></li>
				<li><%= link_to 'Connect Groups', connect_groups_path %></li>
			</ul>
		</li>
		<li><%= link_to 'Give', contributions_new_path %></li>
		<li><%= link_to 'Locations',locations_path %>
			<ul>
			<li><%= link_to 'Revelstoke', '#' %></li>
			</ul>
			</li>
		<li><%= link_to 'Events', events_path %></li>
		<li><%= link_to 'Media', media_path %>
			<ul>
				<li><%= link_to 'Podcasts', podcasts_path %></li>
				<li><%= link_to 'Blog', '#' %></li>
				<li><%= link_to 'Instagram', '#' %></li>
			</ul>
		</li>
		<li class='desktop'><a class="socialize-menu-toggle" href="#">CONTACT</a></li>
		<li class='desktop'><%= link_to '#'  do %><i class='fa fa-search fa-1x'></i><% end %></li>

	</section>



	<%#= content_tag(:li, link_to('Sign up', new_user_registration_path)) unless user_signed_in? %>
	<%#= content_tag(:li, link_to('Users', users_path)) if user_signed_in? %>
	<%#= content_tag(:li, link_to('Podcasts', podcasts_path)) %>
	<%#= content_tag(:li, link_to('Events', events_path)) %>
	<%#= content_tag(:li, link_to('Connect Groups', connect_groups_path)) %>
	<%#= content_tag(:li, link_to(current_user.name.titleize, edit_user_registration_path)) if user_signed_in? %>
	<%#= content_tag(:li, link_to('Logout', destroy_user_session_path, :method=>'delete')) if user_signed_in? %>
	<%#= content_tag(:li, link_to('Login', new_user_session_path)) unless user_signed_in? %>
	<%#= content_tag(:li, link_to('Admin', admin_path)) if user_signed_in? && current_user.has_role?( :admin) %>
